<div class="left_col scroll-view">

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/user.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a href="/home"><i class="fas fa-home"></i> Home </a></li>
        <li><a href="/overview-flask"><i class="fab fa-python"></i> Flask </a></li>
        <li><a href="/overview-docker"><i class="fab fa-docker"></i> Docker </a></li>
        <li><a href="/overview-kubernetes"><i class="fas fa-dharmachakra"></i> Kubernetes </a></li>
        <li><a href="/overview-sqlite"><i class="fas fa-feather"></i> SQLite </a></li>
        <li><a href="/overview-postgresql"><i class="fas fa-database"></i> PostgreSQL </a></li>
        <li><a href="/overview-ansible"><i class="fab fa-adn"></i> Ansibe </a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <div class="animated fadeOutLeft delay-3s navbar nav_title" style="border: 0;">
    <center><a href=""><img width=60% src="/static/images/devops.png"></a></center>
  </div>

</div>
